body {
    background: #18181a; /* Цвет фона и путь к файлу */
    color: #bebebf; /* Цвет текста */
}
.swal-modal {
    background: #303034;
}
.swal-title {
    color: #bebebf;
}
.swal-text {
    color: #bebebf;
}
.swal-button {
    background: #212124;
    color: #bebebf;
}
.swal-button:hover {
    background: #38383d;
    color: white;
}

font {
    font-size: 1.5rem;
}

.enterWifi {
    cursor: pointer;
    border-radius: 10px;
    background: #303034; 
    height: 4rem;
}

.enterWifi:hover {
    background: #38383d;
    cursor: pointer;
}